<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovian</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div id="container">
        <h1>Jovian Careers</h1>
        <img id="banner" src="static/dosmtgreat.jpg" width="1000">
        <h2>About Jovian</h2>
        <p>
            Lorem ipsum dolor sit,
            amet consectetur adipisicing elit.
            At assumenda labore, tenetur excepturi,
            asperiores quas placeat officiis cupiditate et voluptates harum animi.
            Qui odio voluptatibus delectus expedita aperiam iusto pariatur?
        </p>
        <h2>Open Positions</h2>
        <p>TODO - Show the jobs here</p>
        <div style="text-align: center;">
            <button id="contactbutton">Contact Us</button>
            <p>Copyright 2024 - Manos</p>
        </div>
        
    </div>
    
</body>
</html>